<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner }}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>

  <!-- Social Media Links -->
  <div class="social-links">
    <a href="{{ site.social.linkedin.url }}" target="_blank" class="social-icon" aria-label="LinkedIn">
      <i class="{{ site.social.linkedin.icon }}" style="font-size: 25px;"></i>
    </a>
    <a href="{{ site.social.github.url }}" target="_blank" class="social-icon" aria-label="GitHub">
      <i class="{{ site.social.github.icon }}" style="font-size: 25px;"></i>
    </a>
  </div>
</footer>
