<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">whoami</h2></a>

<div class="contact-links">
  <a href="https://www.linkedin.com/in/ramazan-muratdagi/" target="_blank">
    <i class="fab fa-linkedin" style="font-size: 2rem; margin-right: 10px;"></i>
  </a>
  <a href="https://github.com/r4m1007" target="_blank">
    <i class="fab fa-github" style="font-size: 2rem;"></i>
  </a>
</div>


